.games-streaming-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.games-streaming-now .card {
    background: none;
    background-color: #FFFFFF1A;
}

.games-streamin-now .card__header:before {
    content: url("images/games_streaming_now/play_icon80.png");
    z-index: 2;
    color: white;
    /* border: solid 1px red; */
}

.games-streaming-now .card__footer {
    justify-content: space-between;
    margin: 33px 0 0 0;
    padding: 3px 8px 6px;
    color: #C7D5E0;
}