.vr-capsule-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vr-capsule {
    width: 229px;
    background: linear-gradient( 
        -45deg, 
        rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%
    );
}

.vr-capsule-img {
    width: 221px;
}

.vr-capsule-footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-size: 12px;
    line-height: 17px;
}

.vr-capsule-price {
    width: 48px;
    padding: 0 6px;
    border-radius: 1px;
    background-color: rgba(20, 31, 44, 0.4);
    color: #ACDBF5;
}