.sidebar {
    width: 200px;
    margin-top: 30px;
}

.sidebar-promo {
    width: 100%;
}

.sidebar-header {
    padding: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.sidebar-items {
    padding: 6px 8px;
}

.sidebar-items a {
    color: #60B6E8;
    text-decoration: none;
}